@model IEnumerable<ReversiApp.Models.Game>
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Index";
}

<h1>Game rooms</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Omschrijving)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Omschrijving)
                </td>
                <td>
                    <button id="@item.GameID" class="join">Join</button>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.GameID"> Delete </a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/app.js" asp-append-version="true"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(function () {
        var timer;
        var id;
        

        $(".join").click(function () {
            const waitingAcceptStatus = function () {
                let apiUrl = window.location.origin + "/api/spel/joinstatus/" + id;
                Game.Data.get(apiUrl).then(r => {
                    let result = JSON.parse(r);
                    if (result == "Akkoord") {
                        window.clearInterval(timer);
                        window.location.href = "/Game/Reversi/" + id;
                    }

                })
            }

            if (timer) {
                window.clearInterval(timer);
            }

            id = this.id;
            let apiUrl = window.location.origin + "/api/spel/join/" + id;
            $.post(apiUrl,
                {
                    email: '@ViewBag.Email'
                },
                function (data, status) {
                    timer = window.setInterval(waitingAcceptStatus, 1000);
                }
            );
        });
    });

</script>