@model IEnumerable<ReversiApp.Models.Highscore>

@{
    ViewData["Title"] = "Index";
}

<h1>Highscores</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Losses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WinLossRatio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wins)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Losses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WinLossRatio)
            </td>
            @if (User.IsInRole("Administrator"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                </td>
            }
            
        </tr>
}
    </tbody>
</table>
